thead {
  border-bottom: 1px solid var(--color-gray1);
  
  tr th {
    padding: 5px 0;
  }
}

tbody tr:nth-child(even) {
  background-color: var(--color-gray2);
}

.body-row {
  height: 37px;

  td {
    text-align: left;
  }
}

.match-info {
  display: grid;
  gap: 5px;
  grid-template-columns: 24px 1fr;
}

.loader-circle {
  animation: rotation 1s linear infinite;
  stroke: var(--color-white);
  
}

#loader-circle {
  stroke: var(--color-white);
  width: 24px;
  height: auto;
}