@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-black: hsla(0, 0%, 0%, 1);
  --color-red: hsla(2, 100%, 44%, 1);
  --color-gray: hsla(0, 0%, 27%, 1);
  --color-gray1: hsla(0, 0%, 67%, 1);
  --color-gray2: hsla(0, 0%, 98%, 1);
  --color-grayblue: hsla(216, 100%, 98%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
