.nav {
  background-color: var(--color-black);
}

.nav-mobile {
  height: 66px;
  background-color: var(--color-black1);
  width: 100%;
}

/* .nav svg {
  width: 24px;
  height: auto;
} */

/* .nav div:first-child svg {
  width: 48px;
  height: auto;
} */


.active {
  background-color: var(--color-red);
}

.profile::before, .app-page::before {
  content: "";
  display: block;
  height: 1px;
  width: 80%;
  background-color: var(--color-gray);
  margin: 0 auto;
  transform: translateY(-10px);
}