.club {
  .category-list {
    li:hover {
      background-color: var(--color-gray-100);
    }

    & li:nth-child(odd) {
      background-color: var(--color-gray2);
      &:hover {
        background-color: var(--color-gray-100);
      }
    }
  }
}

.edit {
  .logo-container {
    svg {
      path {
        fill: var(--color-gray1);

      }
      width: 38px;
      height: 38px;
    }
  }

  .trash-icon {
    path {
      stroke: var(--color-red)
    }
  }
}